*{
    margin: 0;
    padding:0;
    font-family: 'Roboto Condensed', sans-serif;
}
.barDiscount{
    width: 1350px;
    height: 38px;
    background-color: aquamarine;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 400;
}
#bar{
    width: 111px;
    height: 18px;
    font-weight:lighter;
    font-size: 15px;
    line-height: 17.58px;
}
header{
    width: 1350px;
    height: 101px;
    background-color: blue;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 38px;    
}
main{
    display: flex;
    justify-content: space-around;
    margin-top: 153px;
    margin-left: 32px;
    margin-bottom: 153px;
    width: 1300px;
    height: 530px;

}
footer{
    width: 1350px;
    height: 51px;
    background-color: #00669F;
    color: rgb(234, 240, 235);
}
.piePagina{
    position: absolute;
    top: 996px;
    left: 16px;
    width: 337px;
    height: 19px;
}
.caja{
    position: relative;
    width: 300px;
    height: 529px;
}
.cajaHeroe{
    position: absolute;
    top: 134px;
    left: 90px;
    width: 120px;
    height: 120px;
}
.corazon{
    position: absolute;
    top: 16px;
    left: 20px;
    width: 30px;
    height: 26.25px;
}
.txt{
    background-color: #F3F3F3;
    width: 300px;
    height: 336px;
}
#nombre{
    position: absolute;
    text-align: justify;
    left: 105px;
    top: 265px;
    width: 122px;
    height: 35px;
}
#descripcion{
    position: absolute;
    top: 312px;
    left: 16px;
    width: 267px;
    height: 113px;
}
#boton{
    position: absolute;
    top: 462px;
    left: 85px;
    width: 128.78px;
    height: 48.52px;
    background-color: #00669F;
    color: #F3F3F3;
}
#fondo{
    width: 300px;
    height: 194px;
}
#imgHeroe{
    border-radius: 50%;
}
@media (max-width:800px){
    main{
        width: 700px;
        height: 1090px;
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
        margin-top: 40px;

    }
    header{
        width: 800px;
    }
    footer{
        width: 800px;
        display: flex;
        justify-content: flex-start;
    }
    .barDiscount{
        width: 800px;
    
    }
    .piePagina{
        position: relative;
        top: 20px;
    
    }

}

@media (max-width:480px) {
    .barDiscount{
        width: 480px;
    }
    header{
        width: 480px;
    }
    main{
        flex-direction: row;
        display: flex;
        margin-top:1vh;
        margin-left: 17vw;
        flex-wrap: wrap;
        width: 310px;
        height: 2200px;
    }
    .caja{
        margin: 15px;
        width: 300px;
    } 

    footer{
        display: flex;
        justify-content:flex-start;
        width: 480px;
    }
}



